## About Dataset :

- Property Name: Describes the type of property (1 BHK , 2 BHK etc.)
- Project Name: Identifies the name of the development project.
- Location: Specifies the neighborhood or area within Mumbai and Pune.
- City: Indicates the city ( Mumbai , Pune )
- Price: Lists the selling price of the property.
- Area (sqft): Provides the total area of the apartment in square feet.
- Construction Status: Under Construction and Ready to move
- Possession Date: Indicates how many year old is the property.
- Bathrooms: States the number of bathrooms in the apartment.
- Developer: Names the company or individual responsible for developing the property.

##

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
import re
import json
import pickle
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("properties.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72093 entries, 0 to 72092
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Property Name        72093 non-null  object
 1   Project Name         72093 non-null  object
 2   Location             72093 non-null  object
 3   City                 72093 non-null  object
 4   Price                72093 non-null  object
 5   Area (sqft)          72093 non-null  int64
 6   Construction Status  72093 non-null  object
 7   bathrooms            72093 non-null  object
 8   Developer            72093 non-null  object
dtypes: int64(1), object(8)
memory usage: 5.0+ MB

In [4]:
df.head(20)

,Property Name,Project Name,Location,City,Price,Area (sqft),Construction Status,bathrooms,Developer
0,1 BHK Apartment,9 PBR 9 PBR,"Byculla, Mumbai",Mumbai,1.65 Cr,627,Under Construction,1 Bathrooms,1 BHK Property for Sale in Byculla Mumbai:
1,1 BHK Apartment,9 PBR 9 PBR,"Kandivali East, Mumbai",Mumbai,88 L,700,Under Construction,1 Bathrooms,1 BHK Property for Sale in Kandivali East Mumbai:
2,1 BHK Apartment,9 PBR 9 PBR,"Kandivali East, Mumbai",Mumbai,95 L,700,Under Construction,1 Bathrooms,1 BHK Property for Sale in Kandivali East Mumbai:
3,1 BHK Apartment,9 PBR 9 PBR,"Kandivali East, Mumbai",Mumbai,97 L,700,Under Construction,1 Bathrooms,1 BHK Property for Sale in Kandivali East Mumbai:
4,1 BHK Apartment,9 PBR 9 PBR,"Kandivali East, Mumbai",Mumbai,99 L,700,Under Construction,1 Bathrooms,1 BHK Property for Sale in Kandivali East Mumbai:
5,1 BHK Apartment,9 PBR 9 PBR,"Karjat, Mumbai",Mumbai,14 L,276,Under Construction,Not Available,1 BHK Property for Sale in Karjat Mumbai:
6,1 BHK Apartment,9 PBR 9 PBR,"Karjat, Mumbai",Mumbai,14 L,276,Under Construction,Not Available,1 BHK Property for Sale in Karjat Mumbai:
7,1 BHK Apartment,9 PBR 9 PBR,"Karjat, Mumbai",Mumbai,14 L,276,Under Construction,Not Available,1 BHK Property for Sale in Karjat Mumbai:
8,1 BHK Apartment,9 PBR 9 PBR,"Karjat, Mumbai",Mumbai,14 L,276,Under Construction,Not Available,1 BHK Property for Sale in Karjat Mumbai:
9,1 BHK Apartment,9 PBR 9 PBR,"Rasayani, Mumbai",Mumbai,27.56 L,313,Under Construction,Not Available,1 BHK Property for Sale in Rasayani Mumbai:
10,1 BHK Apartment,9 PBR 9 PBR,"Rasayani, Mumbai",Mumbai,27.56 L,313,Under Construction,Not Available,1 BHK Property for Sale in Rasayani Mumbai:
11,1 BHK Apartment,9 PBR 9 PBR,"Taloja, Mumbai",Mumbai,24.5 L,375,Under Construction,Not Available,1 BHK Property for Sale in Taloja Mumbai:
12,1 BHK Apartment,A And A Breeza Building A,"Bavdhan, Pune",Pune,43.99 L,489,Under Construction,4 Bathrooms,1 BHK Property for Sale in Bavdhan Pune:
13,1 BHK Apartment,A And A Breeza Building A,"Dhayari, Pune",Pune,32 L,646,Under Construction,4 Bathrooms,1 BHK Property for Sale in Dhayari Pune:
14,1 BHK Apartment,A And A Breeza Building A,"Dhayari, Pune",Pune,43 L,650,Under Construction,4 Bathrooms,1 BHK Property for Sale in Dhayari Pune:
15,1 BHK Apartment,A And A Breeza Building A,"Dhayari, Pune",Pune,44.72 L,657,Under Construction,4 Bathrooms,1 BHK Property for Sale in Dhayari Pune:
16,1 BHK Apartment,A And A Breeza Building A,"Gokul Nagar, Pune",Pune,30 L,620,Under Construction,4 Bathrooms,1 BHK Property for Sale in Gokul Nagar Pune:
17,1 BHK Apartment,A And O A And O Excellente,"Goregaon East, Mumbai",Mumbai,1.07 Cr,522,Under Construction,1 Bathrooms,1 BHK Property for Sale in Goregaon East Mumbai:
18,1 BHK Apartment,A And O A And O Excellente,"Malad East, Mumbai",Mumbai,48 L,380,Under Construction,1 Bathrooms,1 BHK Property for Sale in Malad East Mumbai:
19,1 BHK Apartment,A And O A And O Excellente,"Mulund West, Mumbai",Mumbai,86 L,430,Under Construction,1 Bathrooms,1 BHK Property for Sale in Mulund West Mumbai:

In [5]:
df.tail()

,Property Name,Project Name,Location,City,Price,Area (sqft),Construction Status,bathrooms,Developer
72088,9 BHK Apartment,Swaraj Homes Prabhu Niwas,"Juhu, Mumbai",Mumbai,38 Cr,7500,Ready to move,2 Bathrooms,9 BHK Property for Sale in Juhu Mumbai:
72089,9 BHK Apartment,Swaraj Homes Prabhu Niwas,"Kandivali West, Mumbai",Mumbai,34 Cr,7000,Ready to move,2 Bathrooms,9 BHK Property for Sale in Kandivali West Mumbai:
72090,9 BHK Apartment,Transcon Triumph,"Juhu, Mumbai",Mumbai,30 Cr,6350,Ready to move,6 Bathrooms,9 BHK Property for Sale in Juhu Mumbai:
72091,9 BHK Villa,Radhey Galaxy,"Kharghar, Mumbai",Mumbai,20 Cr,13500,Ready to move,2 Bathrooms,9 BHK Property for Sale in Kharghar Mumbai:
72092,9 BHK Villa,Siddhi Highland Springs,"Kharghar, Mumbai",Mumbai,20 Cr,13500,Ready to move,2 Bathrooms,9 BHK Property for Sale in Kharghar Mumbai:

In [6]:
df.bathrooms.unique()

array(['1 Bathrooms', 'Not Available', '4 Bathrooms', '2 Bathrooms',
       '9 Bathrooms', '3 Bathrooms', '5 Bathrooms', '6 Bathrooms',
       '8 Bathrooms', '7 Bathrooms'], dtype=object)

In [7]:
df['bathrooms'] = df['bathrooms'].replace({'Not Available': 0})

In [8]:
df.isna().sum()

Property Name          0
Project Name           0
Location               0
City                   0
Price                  0
Area (sqft)            0
Construction Status    0
bathrooms              0
Developer              0
dtype: int64

In [9]:
# Function to extract BHK value from the 'Property Name'
def extract_bhk(property_name):
    match = re.search(r'(\d+)\s*BHK', property_name)  # Look for digits followed by 'BHK'
    if match:
        return int(match.group(1))  # Return the first matched group as an integer
    return None  # Return None if no match is found

# Apply the function to create a new 'BHK' column
df['BHK'] = df['Property Name'].apply(extract_bhk)

In [10]:
# Handle 'Price' column (e.g., convert '66 L' to 66 Lakhs)
def convert_price_to_lakhs(price_str):
    if 'L' in price_str:
        # Remove 'L' and convert to rupees by multiplying by 1,00,000
        return float(price_str.replace(' L', '').replace(',', '')) * 1_00_000
    elif 'Cr' in price_str:
        # Remove 'Cr' and convert to rupees by multiplying by 1 Crore (1 Cr = 1 Crore = 10,000,000)
        return float(price_str.replace(' Cr', '').replace(',', '')) * 1_00_00_000
    else:
        # If no 'L' or 'Cr', return as is (assuming it's already in rupees)
        return float(price_str.replace(',', ''))  # Remove commas if any

df['Price'] = df['Price'].apply(convert_price_to_lakhs)

In [11]:
df.head(20)

,Property Name,Project Name,Location,City,Price,Area (sqft),Construction Status,bathrooms,Developer,BHK
0,1 BHK Apartment,9 PBR 9 PBR,"Byculla, Mumbai",Mumbai,16500000.0,627,Under Construction,1 Bathrooms,1 BHK Property for Sale in Byculla Mumbai:,1.0
1,1 BHK Apartment,9 PBR 9 PBR,"Kandivali East, Mumbai",Mumbai,8800000.0,700,Under Construction,1 Bathrooms,1 BHK Property for Sale in Kandivali East Mumbai:,1.0
2,1 BHK Apartment,9 PBR 9 PBR,"Kandivali East, Mumbai",Mumbai,9500000.0,700,Under Construction,1 Bathrooms,1 BHK Property for Sale in Kandivali East Mumbai:,1.0
3,1 BHK Apartment,9 PBR 9 PBR,"Kandivali East, Mumbai",Mumbai,9700000.0,700,Under Construction,1 Bathrooms,1 BHK Property for Sale in Kandivali East Mumbai:,1.0
4,1 BHK Apartment,9 PBR 9 PBR,"Kandivali East, Mumbai",Mumbai,9900000.0,700,Under Construction,1 Bathrooms,1 BHK Property for Sale in Kandivali East Mumbai:,1.0
5,1 BHK Apartment,9 PBR 9 PBR,"Karjat, Mumbai",Mumbai,1400000.0,276,Under Construction,0,1 BHK Property for Sale in Karjat Mumbai:,1.0
6,1 BHK Apartment,9 PBR 9 PBR,"Karjat, Mumbai",Mumbai,1400000.0,276,Under Construction,0,1 BHK Property for Sale in Karjat Mumbai:,1.0
7,1 BHK Apartment,9 PBR 9 PBR,"Karjat, Mumbai",Mumbai,1400000.0,276,Under Construction,0,1 BHK Property for Sale in Karjat Mumbai:,1.0
8,1 BHK Apartment,9 PBR 9 PBR,"Karjat, Mumbai",Mumbai,1400000.0,276,Under Construction,0,1 BHK Property for Sale in Karjat Mumbai:,1.0
9,1 BHK Apartment,9 PBR 9 PBR,"Rasayani, Mumbai",Mumbai,2756000.0,313,Under Construction,0,1 BHK Property for Sale in Rasayani Mumbai:,1.0
10,1 BHK Apartment,9 PBR 9 PBR,"Rasayani, Mumbai",Mumbai,2756000.0,313,Under Construction,0,1 BHK Property for Sale in Rasayani Mumbai:,1.0
11,1 BHK Apartment,9 PBR 9 PBR,"Taloja, Mumbai",Mumbai,2450000.0,375,Under Construction,0,1 BHK Property for Sale in Taloja Mumbai:,1.0
12,1 BHK Apartment,A And A Breeza Building A,"Bavdhan, Pune",Pune,4399000.0,489,Under Construction,4 Bathrooms,1 BHK Property for Sale in Bavdhan Pune:,1.0
13,1 BHK Apartment,A And A Breeza Building A,"Dhayari, Pune",Pune,3200000.0,646,Under Construction,4 Bathrooms,1 BHK Property for Sale in Dhayari Pune:,1.0
14,1 BHK Apartment,A And A Breeza Building A,"Dhayari, Pune",Pune,4300000.0,650,Under Construction,4 Bathrooms,1 BHK Property for Sale in Dhayari Pune:,1.0
15,1 BHK Apartment,A And A Breeza Building A,"Dhayari, Pune",Pune,4472000.0,657,Under Construction,4 Bathrooms,1 BHK Property for Sale in Dhayari Pune:,1.0
16,1 BHK Apartment,A And A Breeza Building A,"Gokul Nagar, Pune",Pune,3000000.0,620,Under Construction,4 Bathrooms,1 BHK Property for Sale in Gokul Nagar Pune:,1.0
17,1 BHK Apartment,A And O A And O Excellente,"Goregaon East, Mumbai",Mumbai,10700000.0,522,Under Construction,1 Bathrooms,1 BHK Property for Sale in Goregaon East Mumbai:,1.0
18,1 BHK Apartment,A And O A And O Excellente,"Malad East, Mumbai",Mumbai,4800000.0,380,Under Construction,1 Bathrooms,1 BHK Property for Sale in Malad East Mumbai:,1.0
19,1 BHK Apartment,A And O A And O Excellente,"Mulund West, Mumbai",Mumbai,8600000.0,430,Under Construction,1 Bathrooms,1 BHK Property for Sale in Mulund West Mumbai:,1.0

In [12]:
# Handle 'Area (sqft)' - Make sure it's numeric (assuming it's already in numeric format)
df['Area (sqft)'] = pd.to_numeric(df['Area (sqft)'])

In [13]:
# Convert 'Bathrooms' to numeric
df['Bathrooms'] = df['bathrooms'].str.extract('(\d+)').astype(float)

In [14]:
df.head()

,Property Name,Project Name,Location,City,Price,Area (sqft),Construction Status,bathrooms,Developer,BHK,Bathrooms
0,1 BHK Apartment,9 PBR 9 PBR,"Byculla, Mumbai",Mumbai,16500000.0,627,Under Construction,1 Bathrooms,1 BHK Property for Sale in Byculla Mumbai:,1.0,1.0
1,1 BHK Apartment,9 PBR 9 PBR,"Kandivali East, Mumbai",Mumbai,8800000.0,700,Under Construction,1 Bathrooms,1 BHK Property for Sale in Kandivali East Mumbai:,1.0,1.0
2,1 BHK Apartment,9 PBR 9 PBR,"Kandivali East, Mumbai",Mumbai,9500000.0,700,Under Construction,1 Bathrooms,1 BHK Property for Sale in Kandivali East Mumbai:,1.0,1.0
3,1 BHK Apartment,9 PBR 9 PBR,"Kandivali East, Mumbai",Mumbai,9700000.0,700,Under Construction,1 Bathrooms,1 BHK Property for Sale in Kandivali East Mumbai:,1.0,1.0
4,1 BHK Apartment,9 PBR 9 PBR,"Kandivali East, Mumbai",Mumbai,9900000.0,700,Under Construction,1 Bathrooms,1 BHK Property for Sale in Kandivali East Mumbai:,1.0,1.0

In [15]:
df['Construction Status'].value_counts()

Construction Status
Ready to move         58356
Under Construction    13737
Name: count, dtype: int64

In [16]:
# Convert 'Construction Status' to numeric categories (e.g., ready/under construction)
df['Construction Status'] = df['Construction Status'].replace({'Under Construction': 0, 'Ready to move': 1})

In [17]:
df['Location'].value_counts()

Location
Kharadi, Pune                      3399
Hinjewadi, Pune                    3036
Wakad, Pune                        2967
Thane West, Mumbai                 2858
Tathawade, Pune                    2643
                                   ...
BHOSALE NAGAR, Pune                   1
Tapodham, Pune                        1
Panch Pakhdi, Mumbai                  1
Bharati Vidyapeeth Campus, Pune       1
Valvan Lonavla, Pune                  1
Name: count, Length: 496, dtype: int64

In [18]:
# Encode categorical columns (e.g., Location, City, Developer)
label_encoder = LabelEncoder()
categorical_cols = [ 'City', 'Developer']
for col in categorical_cols:
    df[col] = label_encoder.fit_transform(df[col].astype(str))

In [19]:
# Define a function to clean the 'Location' column
def clean_location(location):
    # Use regex to remove the unwanted prefix pattern
    # This will remove phrases like "1 BHK Property for Sale in"
    cleaned_location = re.sub(r'.*in ', '', location).strip()
    return cleaned_location

# Apply the cleaning function to the 'Location' column
df['Location_cleaned'] = df['Location'].apply(clean_location)

# Initialize the LabelEncoder and fit_transform on the cleaned location
label_encoder = LabelEncoder()
label_encoder.fit(df['Location_cleaned'])
with open('location_mapping.pkl', 'wb') as file:
    pickle.dump(label_encoder,file)

df['Location_encoded'] = label_encoder.fit_transform(df['Location_cleaned'])

# # Create a dictionary to map cleaned locations to encoded values
# location_mapping = {location: int(code) for location, code in zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_))}

# # Save the cleaned location mapping to a JSON file
# # with open('location_mapping.json', 'w') as json_file:
# #     json.dump(location_mapping, json_file, indent=4)

In [20]:
# Drop unnecessary columns (e.g., 'Property Name', 'Project Name')
df.drop(['Property Name', 'Project Name', 'bathrooms','Developer'], axis=1, inplace=True)

In [21]:
df.head(10)

,Location,City,Price,Area (sqft),Construction Status,BHK,Bathrooms,Location_cleaned,Location_encoded
0,"Byculla, Mumbai",0,16500000.0,627,0,1.0,1.0,"Byculla, Mumbai",71
1,"Kandivali East, Mumbai",0,8800000.0,700,0,1.0,1.0,"Kandivali East, Mumbai",176
2,"Kandivali East, Mumbai",0,9500000.0,700,0,1.0,1.0,"Kandivali East, Mumbai",176
3,"Kandivali East, Mumbai",0,9700000.0,700,0,1.0,1.0,"Kandivali East, Mumbai",176
4,"Kandivali East, Mumbai",0,9900000.0,700,0,1.0,1.0,"Kandivali East, Mumbai",176
5,"Karjat, Mumbai",0,1400000.0,276,0,1.0,NaN,"Karjat, Mumbai",182
6,"Karjat, Mumbai",0,1400000.0,276,0,1.0,NaN,"Karjat, Mumbai",182
7,"Karjat, Mumbai",0,1400000.0,276,0,1.0,NaN,"Karjat, Mumbai",182
8,"Karjat, Mumbai",0,1400000.0,276,0,1.0,NaN,"Karjat, Mumbai",182
9,"Rasayani, Mumbai",0,2756000.0,313,0,1.0,NaN,"Rasayani, Mumbai",353

In [22]:
df['BHK'] = df['BHK'].fillna(df['BHK'].mode()[0])
df['Bathrooms'] = df['Bathrooms'].fillna(df['Bathrooms'].mode()[0])

In [23]:
df.isna().sum()

Location               0
City                   0
Price                  0
Area (sqft)            0
Construction Status    0
BHK                    0
Bathrooms              0
Location_cleaned       0
Location_encoded       0
dtype: int64

In [24]:
df.to_csv('data_with_location_encoded.csv',index=False)

In [29]:
df.drop([['Location','Location_cleaned']] , axis=1 ,inplace=True)

KeyError: "['Location'] not found in axis"

In [28]:
df.head()

,City,Price,Area (sqft),Construction Status,BHK,Bathrooms,Location_cleaned,Location_encoded
0,0,16500000.0,627,0,1.0,1.0,"Byculla, Mumbai",71
1,0,8800000.0,700,0,1.0,1.0,"Kandivali East, Mumbai",176
2,0,9500000.0,700,0,1.0,1.0,"Kandivali East, Mumbai",176
3,0,9700000.0,700,0,1.0,1.0,"Kandivali East, Mumbai",176
4,0,9900000.0,700,0,1.0,1.0,"Kandivali East, Mumbai",176

In [26]:
plt.figure(figsize=(10, 8))
correlation = df.corr()
sns.heatmap(correlation, annot=True, fmt=".2f", cmap='coolwarm', square=True)
plt.title('Correlation Heatmap')
plt.show()

ValueError: could not convert string to float: 'Byculla, Mumbai'

In [ ]:
plt.figure(figsize=(10, 6))
sns.countplot(x='BHK', data=df)
plt.title('Count of Properties by BHK')
plt.xlabel('BHK')
plt.ylabel('Count')
plt.grid()
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
sns.scatterplot(x='Area (sqft)', y='Price', data=df, alpha=0.6)
plt.title('Price vs. Area (sqft)')
plt.xlabel('Area (sqft)')
plt.ylabel('Price')
plt.grid()
plt.show()

In [ ]:
from sklearn.ensemble import RandomForestRegressor

# Assuming the model is already trained
model = RandomForestRegressor(n_estimators=100)
model.fit(df.drop('Price',axis=1), df['Price'])
X = df.drop('Price',axis=1)
# Get feature importances
importances = model.feature_importances_
feature_names = X.columns
indices = np.argsort(importances)[::-1]

plt.figure(figsize=(10, 6))
plt.title('Feature Importances')
plt.bar(range(X.shape[1]), importances[indices], align='center')
plt.xticks(range(X.shape[1]), feature_names[indices], rotation=90)
plt.xlim([-1, X.shape[1]])
plt.show()

In [ ]:
df['City'].value_counts()        # 1 for pune and 0 for mumbai

In [ ]:
df['Construction Status'].value_counts()

In [ ]:
df.isna().sum()

In [ ]:
df.info()

In [ ]:
plt.figure(figsize=(10, 6))
sns.histplot(df['Price'], bins=30, kde=True)
plt.title('Distribution of Property Prices')
plt.xlabel('Price')
plt.ylabel('Frequency')
plt.grid()
plt.show()

In [27]:
df.to_csv("preprocessed_data.csv" , index=False )